<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.yihao.Dao.Debit_cardMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cqu.yihao.pojo.Debit_card">
    <id column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
  </resultMap>
  <sql id="Base_Column_List">
    card_id, password, balance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from debit_card
    where card_id = #{cardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from debit_card
    where card_id = #{cardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqu.yihao.pojo.Debit_card">
    insert into debit_card (card_id, password, balance
      )
    values (#{cardId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{balance,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqu.yihao.pojo.Debit_card">
    insert into debit_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqu.yihao.pojo.Debit_card">
    update debit_card
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=VARCHAR}
  </update>
  <update id="addBalance">
  	update debit_card
  	set balance = balance + #{money, jdbcType=DOUBLE}
  	where card_id = #{id, jdbcType=VARCHAR};
  </update>
  <update id="subBalance">
  	update debit_card
  	set balance = balance - #{money, jdbcType=DOUBLE}
  	where card_id = #{id, jdbcType=VARCHAR} and balance > #{money, jdbcType=DOUBLE};
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqu.yihao.pojo.Debit_card">
    update debit_card
    set password = #{password,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DOUBLE}
    where card_id = #{cardId,jdbcType=VARCHAR}
  </update>
</mapper>